<div class="navbar flex" data-controller="toggle">
  <% if current_page?(categories_path) %>
    <a data-action="click->toggle#menu" class="home-menu">Menu</a>
  <% end %>
  <% if params.has_key?(:id) || current_page?(new_payment_path) || current_page?(new_category_path)%>
    <%= link_to "<", categories_path, class: "flex back-icon" %>
  <% end %>
  <% if user_signed_in? %>
    <ul class="nav_bar__links">
      <div>
        <% if current_page?(categories_path) || current_page?('/') %>
          <h1><%= "CATEGORIES" %></h1>
        <% end %>
        <% if(params.has_key?(:id)) %>
          <h1><%= "PAYMENTS" %></h1>
        <% end %>
        <% if(current_page?(new_category_path)) %>
          <h1><%= "NEW CATEGORY" %></h1>
        <% end %>
        <% if(current_page?(new_payment_path))%>
          <h1><%= "NEW PAYMENT" %></h1>
        <% end %>
      </div>
    </ul>
  <% else %>
    <div>
      <% if current_page?(new_user_session_path) || current_page?('/') %>
        <h1><%= "LOG IN" %></h1>
      <% end %>
      <% if(current_page?(new_user_registration_path)) %>
        <h1><%= "SIGN UP" %></h1>
      <% end %>
    </div>
  <% end %>
  <div>
  </div>

  <% if user_signed_in? %>
    <%= render "shared/menu" %>
  <% end %>
</div>