<div class="container-y container padding-20b">
  <%= form_with(model: category, class: "form") do |form| %>
    <% if category.errors.any? %>
      <div style="color: red">
        <h2><%= pluralize(category.errors.count, "error") %> prohibited this category from being saved:</h2>

        <ul>
          <% category.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

    <h1>New category</h1>

    <%= form.hidden_field :user_id, value: current_user.id %>

    <div>
      <%= form.label :name, style: "display: block" %>
      <%= form.text_field :name %>
    </div>

    <div>
      <%= form.label :icon, style: "display: block" %>
      <%= form.text_field :icon %>
    </div>

    <%= form.submit class: "submit-btn" %>
  <% end %>
</div>