<p style="color: green"><%= notice %></p>

<div class="flex-column all-vh container-y">
  <div class="flex-column">
    <div>
      <%= render @category %>
      <%= button_to "Destroy this category", @category, method: :delete, class: "destroy-btn"%>
    </div>
    <div class="flex-column">
      <span> Payments: </span>
      <%= render @payments %>
    </div>
  </div>



  <%= link_to "New payment", new_payment_path, class: "add-btn flex" %>
</div>
