<!DOCTYPE html>
<html>
  <head>
    <title>Budget App</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= render "shared/navbar" %>
    <% end %>
    <main>
      <div class="flex-column alert-notice">
        <p class="notice flex red"><%= notice %></p>
        <p class="alert flex red"><%= alert %></p>
      </div>
      <%= yield %>
    </main>
  </body>
</html>
